.classpath
.gitattributes
.idea
.project
[B|b]in
xcc.imi
document
[O|o]ut
classes
[B|b]uild

#Ignores all Linux temporary file.
*~
Output/
.DS_Store
cmake-build-*
CMakeFiles
cmake_install.cmake
CMakeCache.txt
*.ll
*.s
*.iml



